@use "~/assets/scss/global/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $primaryColor;
}

body {
    font-family: $primaryFont;
    font-weight: 800;
    background-color: $primaryColor;
    -webkit-tap-highlight-color: transparent;
    padding-top: env(safe-area-inset-top);
    // padding-bottom: env(safe-area-inset-bottom);
    // padding-left: env(safe-area-inset-left);
    // padding-right: env(safe-area-inset-right);
}

html,
body,
.full-page-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

input {
    font-family: $primaryFont;
}

.btn {
    border-style: none;
    padding: 4px 8px;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}
