$primaryColor: #263444;
$primaryDarkerColor: #151d25;

$secondaryColor: #3d546e;
$secondaryDarkerColor: #222e3c;

$white-font-text: #f2f2f2;
$red-color: #dd4a34;

$primaryFont: "Quicksand";

$game-info-bar-height: 40px;

$expanded-sheet-height: 215px;
$collapsed-sheet-height: 90px;
