//
//
//

// ----------------------> MAP <----------------------
.map-container {
    width: 100vw;
    height: 100vh;
    background-color: #272d39;
}

.full-page-wrapper {
    overflow: hidden;
}

.warnings {
    position: absolute;
    bottom: 30px;
    right: -2px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
}

.hud-buttons {
    position: absolute;
    top: calc($game-info-bar-height + 1.8rem);
    right: 9px;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

//
//
//

// ----------------------> MAPLIBRE UI INTERFACE BUTTONS <----------------------
:deep(.maplibregl-ctrl-group:first-of-type) {
    margin-top: calc($game-info-bar-height + 20px);
}

:deep(.maplibregl-ctrl-group) {
    background-color: $primaryColor;
    border: 1px solid $secondaryColor;
    color: $white-font-text;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: -10;

    button {
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid $secondaryColor;
        transition: background-color 0.2s ease;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: $secondaryColor !important;
        }

        .maplibregl-ctrl-icon {
            filter: invert(1) brightness(2);
        }
    }
}

:deep(.maplibregl-ctrl-compass) {
    .maplibregl-ctrl-icon {
        filter: invert(1) grayscale(1);
    }
}

//
//
//

// ----------------------> TRANSITIONS <---------------------- \\

// SHEET SLIDE TRANSITIONS
.sheet-slide-enter-active,
.sheet-slide-leave-active {
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sheet-slide-enter-from,
.sheet-slide-leave-to {
    transform: translateY(100%);
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0);

    opacity: 0;
}

// LOADING SCREEN TRANSITIONS
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.over-limit-enter-active,
.over-limit-leave-active {
    transition: opacity 0.3s ease-in-out;
}
.over-limit-enter-from,
.over-limit-leave-to {
    opacity: 0;
}
.over-limit-enter-to,
.over-limit-leave-from {
    opacity: 1;
}
