//
//
//

// ----------------------> MAP <----------------------
.map-container {
    width: 100vw;
    height: 100vh;

    background-color: #272d39;
}

.ui-safe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
}

.ui-safe-container > * {
    pointer-events: auto;
}

.full-page-wrapper {
    overflow: hidden;
}

.back-home {
    position: absolute;
    top: calc($game-info-bar-height + 1.8rem);
    left: 10px;

    @media (orientation: portrait) {
        top: calc($game-info-bar-height + env(safe-area-inset-top) + 1.8rem);
    }
}

.hud-buttons {
    position: absolute;
    top: calc($game-info-bar-height + 1.8rem);
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    @media (orientation: portrait) {
        top: calc($game-info-bar-height + env(safe-area-inset-top) + 1.8rem);
    }

    .red-icon {
        color: $red-color;
    }

    .green-icon {
        color: $green-color;
    }
}

.warnings {
    position: absolute;
    bottom: 30px;
    right: -2px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
}

//
//
//
// ----------------------> TRANSITIONS <---------------------- \\

// SHEET SLIDE TRANSITIONS
.sheet-slide-enter-active,
.sheet-slide-leave-active {
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sheet-slide-enter-from,
.sheet-slide-leave-to {
    transform: translateY(100%);
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0);

    opacity: 0;
}

// LOADING SCREEN TRANSITIONS
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.over-limit-enter-active,
.over-limit-leave-active {
    transition: opacity 0.3s ease-in-out;
}
.over-limit-enter-from,
.over-limit-leave-to {
    opacity: 0;
}
.over-limit-enter-to,
.over-limit-leave-from {
    opacity: 1;
}
