.game-information {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc($game-info-bar-height);
    color: $white-font-text;

    padding: 8px 10px 8px 0px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 3px solid $secondaryColor;

    background-color: $primaryColor;

    @media (orientation: portrait) {
        height: calc($game-info-bar-height + env(safe-area-inset-top));
    }
}

.truck-info {
    display: flex;
    align-items: center;
}

.gas-sleep-time {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.gas-sleep {
    display: flex;
    gap: 1rem;
}

.game-time {
    padding: 1px 8px;
    font-weight: 700;
    font-size: 1.6rem;
    min-width: 7.5rem;

    background-color: rgb(21, 29, 37, 0.5);
    border-radius: 8px;
    border-left: 2px solid $secondaryColor;
    border-right: 2px solid $secondaryColor;
}

.fuel-amount {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;

    align-items: center;
    justify-content: center;

    .liters {
        opacity: 0.6;
        margin-left: 3px;
        font-size: 1.5rem;
    }

    .pulse-red {
        animation: pulseRed 2.5s infinite ease-in-out;
    }

    transition: color 0.4s ease;

    @keyframes pulseRed {
        0% {
            color: inherit;
        }

        50% {
            color: $red-color;
        }

        100% {
            color: inherit;
        }
    }
}

.sleep-div {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    align-items: center;
    min-width: 7rem;
    text-align: center;

    .sleep-icon {
        font-size: 2rem;

        transition: color 0.4s ease;
    }

    .pulse-blue {
        animation: pulseBlue 2.5s infinite ease-in-out;
    }

    @keyframes pulseBlue {
        0% {
            color: inherit;
        }

        50% {
            color: #226ae0;
        }

        100% {
            color: inherit;
        }
    }
}

.disconnected-div {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;

    .disconnected-message {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .disconnected-icon {
        background-color: $red-color;
        opacity: 0.9;
        width: 20px;
        height: 20px;
    }
}

.truck-speed-div {
    position: relative;
    display: flex;
    justify-content: center;
    height: 4.4rem;
    gap: 0.3rem;
    align-items: end;
    padding-bottom: 3px;

    min-width: 110px;
}

.road-perspective {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 0;

    background: linear-gradient(
        to top,
        rgb(21, 29, 37, 1) 0%,
        rgb(21, 29, 37, 0.6) 50%,
        rgb(21, 29, 37, 0.4) 70%,
        rgb(25, 34, 45, 0) 100%
    );

    transform-origin: bottom;
    transform: perspective(60px) rotateX(50deg) scaleX(0.85);

    border-left: 2px solid $secondaryColor;
    border-right: 2px solid $secondaryColor;
    border-radius: 8px;

    pointer-events: none;
}

.truck-speed,
.km-h {
    position: relative;
    font-weight: 500;
}

.truck-speed {
    font-size: 2rem;
    line-height: 1;
}

.km-h {
    font-size: 1rem;
    opacity: 0.7;
}
